<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Magic The Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper black">
          <a href="/" class="brand-logo center"><img src="/img/magic.png"></a>
          <ul class="left">
            <li><a href="/search">Search</a></li>
            <li><a href="/decks">Decks</a></li>
          </ul>
          <ul class="right">
            <li class="hide-on-small-and-down">
              <form action="/search" method="POST">
                <input class="input-field" name="name" type="search" placeholder="Quick Search Name" required>
              </form>
            </li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">

    <%- body %>

    </div>

    <div class="fixed-action-btn vertical">
      <a class="btn-floating black">
        <i class="large material-icons">info</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">favorite</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">favorite</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">favorite</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">favorite</i></a></li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
