<h1> Hello </h1>
<p>This is the landing page for the site, some ideas for this site include:</p>
<ul>
  <li>Card Popularity Data</li>
  <li>Recent Decks for review</li>
  <li>How explination on how to use site</li>
</ul>
