<h1>Login</h1>
<br />
<form method="POST" action="/login">
  <input type="text" name="userId" placeholder="User Name">
  <input type="password" name="password" placeholder="Password">
  <div class="row center">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>
<h5 class="center">Or
  <br />
  <br />
  <a href="/createUser">Create an account Here!</a>
</h5>
