<h1>Search</h1>
<form class="search-form">
  <div class="row">
    <div class="input-field col s12">
      <input name="name" type="text">
      <label for="name">Name</label>
    </div>
  </div>
  <div class="row">
    <div class="col s4 search-group">
      <h5 class="center">Color</h5>
      <div class="row">
        <div class="col s4">
          <input type="checkbox" name="color" id="white" value="white">
          <label for="white">White</label>
        </div>
        <div class="col s4">
          <input type="checkbox" name="color" id="blue" value="blue">
          <label for="blue">Blue</label>
        </div>
        <div class="col s4">
          <input type="checkbox" name="color" id="black" value="black">
          <label for="black">Black</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <input type="checkbox" name="color" id="green" value="green">
          <label for="green">Green</label>
        </div>
        <div class="col s4">
          <input type="checkbox" name="color" id="red" value="red">
          <label for="red">Red</label>
        </div>
        <div class="col s4">
          <input type="checkbox" name="color" id="clear" value="clear">
          <label for="clear">Clear</label>
        </div>
      </div>
    </div>
    <div class="col s4 red search-group">
      <h5 class="center">Type</h5>
      <div class="row">
      
      </div>
    </div>
    <div class="col s4 green search-group">
      <h5 class="center">Rarity</h5>
      <div class="row">

      </div>
    </div>
  </div>
</form>
