<h4>Create Account</h4>
<hr>
<br />
<br />
<form action="/createUser" method="POST">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="userId" placeholder="User ID">
  <input type="password" name="password" placeholder="Password">
  <input type="email" name="email" placeholder="Your Email">
  <div class="row center">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>
